- cache [@places.size, @upd_pu.updated_at] do
  %h1.text-center
    = t('blocked-places')
    %small= t('with-pending-updates')
  %table.table{:border => '0', :cellspacing => '1', :cellpadding => '2', :align => 'center'}
    %thead
      %tr
        %th= t('area')
        %th= t('place-name')
        %th= t('wme-link')
    %tbody
      - @places.joins(:citymapraid).order('cities_mapraid.name').each do |p|
        %tr
          %td= p.citymapraid.name
          %td= (p.name.nil? or p.name.strip.empty? ? "[#{t('noname')}]": p.name)
          %td
            %a{:href => p.permalink, :target => "WME"}= p.permalink
